SF_CLIENT_ID=3MVG9FofAY6PhRtF.uA03FIkcwLw8AgCG_0m3uphkJyObdsRLWMoEEtrrv9hKq7VLX48saZuOhhL3ARUzXLFO
SF_CLIENT_SECRET=03F91A10AAE4DF9FA98B9EEDF5BDC9E85476772E87C219AC25249551D4A8B6FB
SF_INSTANCE_URL=https://pagonext3-dev-ed.develop.my.salesforce.com
SF_AGENT_ID=0Xxg7000001kE0zCAE
